@model IEnumerable<WebNutFactory.Models.Inventory>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Inventories Details</h2>

<table class="table">
    <tr>
        <th>
        <th>  @Html.DisplayNameFor(Model => Model.Location) </th>
        <th>  @Html.DisplayNameFor(Model => Model.Phone) </th>
        </th>
    </tr>
    @foreach (var a in Model)
    {
        <tr>
            <th>
            <th>  @Html.DisplayFor(modela => a.Location) </th>
            <th>  @Html.DisplayFor(modela => a.Phone) </th>
            </th>
            <td>
                @Html.ActionLink("Details", "Details", new { id = a.InventoryID }) |
                @Html.ActionLink("Edit", "Edit", new { id = a.InventoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = a.InventoryID})
            </td>
        </tr>
    }
</table>
<body>
    <center>
        <a href="https://localhost:5166/Manager/AddInventory" class="btn btn-primary">
            Add Invetory</a>
    </center>
</body>

